.nav-wrapper {
    background-color: #0abaff;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
    
.nav-wrapper a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2px;
    border: 2px solid black;
    background-color: #ffffff;
}

.nav-wrapper a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    background-color: #ff8686ff;
}