html,body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 0 auto;
    min-height: 0;
}

main {
    flex: 1 0 auto;
    min-height: 0;
    padding-left: 15px;
    margin: 10px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 4px;
}

.site-footer {
    margin-top: auto;
}